@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

:root{
    font-size: 1em;
}

* {
    margin: 0;
    padding: 0;
}

p{
    margin-bottom: 20px;
}

.flex-wrapper{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.flex-wrapper > .left{
    flex: 1 1 600px;
    min-width: 600px;
    background: url(./pictures/gradient.jpg);
    background-size: cover;
}


.flex-wrapper > .right{
    flex: 2 1 100%;
}

.logo-box{
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Mochiy Pop One', sans-serif;
    color: white;
    font-size: 3.5rem;
    padding: 1em;
    text-align: center;
    margin-top: 20vh;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: #eee;
}

.content > div {
    padding: 50px;
}

.content > div > * {
    max-width: min(50vw, 800px);
}

.intro-text, .login-form{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.65em;
    color: #555;
}

.login-form{
    background: #FFF;
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2);
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: .8rem;
    text-transform: uppercase;
    color: #888;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 20px;
}

ul>li{
    flex: 1 1 50%;
}

ul>li>label{
    display: block;
}

input{
    min-width: 250px;
    border-radius: 3px;
    border: 1px solid #DDD;
    padding: 6px;
    font-size: 1rem;
    margin-bottom: 20px;
}